<div class="popup popup-big" id="popup-help">
  <h2 class="title">Поможем вам подобрать решение</h2>
  <h3>Оставьте заявку, мы свяжемся с вами в течение 30 минут и ответим на все вопросы</h3>
  {% set form_btn = 'Помочь в выбором' %}
  {% include 'common/big-form.html' %}
</div>

<div class="popup popup-big" id="popup-reserv">
  <h2 class="title">Зарезервируйте товар</h2>
  <h3>Мы свяжемся с вами в течение 30 минут и обсудим детали</h3>
  {% set form_btn = 'Зарезервировать' %}
  {% include 'common/big-form.html' %}
</div>

<div class="popup" id="popup-call">
  <h2 class="title">Мы вам перезвоним</h2>
  <h3>Пожалуйста, укажите контактные данные</h3>
  <form action="#" class="popup-form">
    <label class="label">
      <small>Номер телефона</small>
      <input type="tel" class="input masked" placeholder="+7 (___) ___-__-__" />
    </label>
    <label class="label">
      <small>Комментарий</small>
      <textarea class="textarea" placeholder="Напишите, что вас интересует?"></textarea>
    </label>
    <h4>В течение 30 минут с вами свяжется менеджер и ответит на все вопросы</h4>
    <input type="hidden" name="nameform" value="Заказать звонок" />
    <button class="btn btn-confetti">ЗАКАЗАТЬ ЗВОНОК</button>
    <label class="checkbox">
      <input type="checkbox" checked />
      <p>Согласен на обработку персональных данных</p>
    </label>
  </form>
</div>

<div class="popup" id="popup-excursion">
  <h2 class="title">Экскурсия на производство</h2>
  <h3>Пожалуйста, укажите контактные данные</h3>
  <form action="#" class="popup-form">
    <label class="label">
      <small>Номер телефона</small>
      <input type="tel" class="input masked" placeholder="+7 (___) ___-__-__" />
    </label>
    <label class="label">
      <small>Комментарий</small>
      <textarea class="textarea" placeholder="Напишите, что вас интересует?"></textarea>
    </label>
    <h4>В течение 30 минут с вами свяжется менеджер и ответит на все вопросы</h4>
    <input type="hidden" name="nameform" value="Экскурсия на производство" />
    <button class="btn btn-confetti">ЗАКАЗАТЬ ЗВОНОК</button>
    <label class="checkbox">
      <input type="checkbox" checked />
      <p>Согласен на обработку персональных данных</p>
    </label>
  </form>
</div>

<div class="system-popup" id="system-popup-1">
  <div class="row">
    <div class="system-popup__img">
      <div class="carousel-arrow carousel-prev system-popup__prev"></div>
      <div class="carousel-arrow carousel-next system-popup__next"></div>
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="img/system-item.jpg" alt=""></div>
        <div class="swiper-slide"><img src="img/system-item.jpg" alt=""></div>
        <div class="swiper-slide"><img src="img/system-item.jpg" alt=""></div>
      </div>
    </div>
    <div class="system-popup__text">
      <h3>Отопление производственного здания или завода</h3>
      <p>Общая площадь помещения 1500 м²</p>
      <p><b>Отопление, горячее водоснабжение, возможность подключения к системе кондиционирования</b></p>
      <p>Данный загородный дом находится в населенном пункте «Бережок» и снабжен геотермальным тепловым насосом ТНВ-ГТ 30 с тепловой мощностью 30 кВт. Внешний, холодный контур данной системы обустроен в водоеме. В доме организована система теплых полов и ГВС.  Для обеспечения бесперебойной работы в качестве резервного отопительного устройства используется газовый котел. Проект 2020 года</p>
      <ul>
        <li><b>3 геотермальных тепловых насоса по 30 кВт</b></li>
        <li><b>Средняя температура в помещении 24 градуса по цельсию</b></li>
        <li><b>Средняя оплата за электричество зимой 36 тысяч рублей</b></li>
        <li><b>Полная стоимость проекта “под ключ” 3 млн рублей</b></li>
      </ul>
      <div class="btn-wrap">
        <a href="#" class="btn btn-confetti">Перейти в каталог</a>
        <a href="javascript:;" class="btn btn-outline" onclick='$.fancybox.close()'>Закрыть</a>
      </div>
    </div>
  </div>
</div>