{% extends 'common/_layout.html' %}
{% set site_title = 'О компании' %}

{% block content %}

<section class="about">
  <div class="container">
    <h2>Мы производим энергосберегающие отопительные системы для использования в бытовых и промышленных целях</h2>
    <p>Мы уверены в качестве нашего оборудования, потому что сами его производим. Для производства используем запатентованные технологии и качественные детали европейских производителей. </p>
    <p>Наши специалисты разрабатывают электронику и ПО, поэтому мы можем предложить вам решения разной сложности и качественную техническую поддержку в процессе эксплуатации.</p>
    <div class="btn-wrap"><a href="#" class="btn btn-confetti">ПОДОБРАТЬ РЕШЕНИЕ</a></div>
  </div>
</section>

<section class="section steps">
  <div class="container">
    <div class="section-top">
      <h2 class="title">Как мы работаем</h2>
    </div>
    <div class="row row-gap">
      <div class="steps-item">
        <h3>Определение потребностей клиента</h3>
        <p>Изучаем проектную документацию клиента. Учитываем вид объекта, стадию строительства объекта или модернизируем старую систему отопления. </p>
      </div>
      <div class="steps-item">
        <h3>Расчет стоимости оборудования</h3>
        <p>Подбор необходимого оборудования и комплектующих материалов для системы отопления, определение стоимости доставки, такелажных и монтажных работ.</p>
      </div>
      <div class="steps-item">
        <h3>Заключение договора</h3>
        <p>Заключение договора, внесение предоплаты по договору поставки оборудования.</p>
      </div>
      <div class="steps-item">
        <h3>Поставка оборудования</h3>
        <p>Доставка оборудования на объект. Приемка оборудования заказчиком.</p>
      </div>
      <div class="steps-item">
        <h3>Монтаж оборудования</h3>
        <p>Установка оборудования в соответствии со схемой, прилагаемой к договору. </p>
      </div>
      <div class="steps-item">
        <h3>Пусконаладка</h3>
        <p>Первый запуск оборудования, выявление недочетов, устранение их и ввод системы в эксплуатацию.</p>
      </div>
      <div class="steps-item">
        <h3>Сдача оборудования в эксплуатацию</h3>
        <p>Подписания акта -приемки в эксплуатацию, окончательный расчет по договору.</p>
      </div>
    </div>
  </div>
</section>

<section class="section manufacture">
  <div class="container">
    <div class="section-top">
      <h2 class="title">Наше производство</h2>
      <h3>В настоящее время нашей компании организовано современное производство высококачественных отопительных, энергосберегающих систем, соответствующих лучшим зарубежным аналогам. Компания «Силагнис» обладает полным циклом производства своей продукции. В которое входит:</h3>
    </div>
    <div class="row row-gap">
      <a href="img/manufacture-item.jpg" class="manufacture-item" data-fancybox=""><img src="img/manufacture-item.jpg" alt=""></a>
      <a href="img/manufacture-item.jpg" class="manufacture-item" data-fancybox=""><img src="img/manufacture-item.jpg" alt=""></a>
      <a href="img/manufacture-item.jpg" class="manufacture-item" data-fancybox=""><img src="img/manufacture-item.jpg" alt=""></a>
      <a href="img/manufacture-item.jpg" class="manufacture-item" data-fancybox=""><img src="img/manufacture-item.jpg" alt=""></a>
    </div>
  </div>
</section>

<section class="section euro">
  <div class="container">
    <div class="section-top">
      <h2 class="title">Используем европейские комплектующие</h2>
    </div>
    <div class="row">
      <div class="euro-text">
        <p>В настоящее время нашей компании организовано современное производство высококачественных отопительных, энергосберегающих систем, соответствующих лучшим зарубежным аналогам. </p>
        <p>Компания «Силагнис» обладает полным циклом производства своей продукции. В которое входит:</p>
      </div>
      <div class="euro-img"><img src="img/euro.png" alt=""></div>
    </div>
  </div>
</section>

<section class="section confident">
  <div class="container">
    <div class="section-top">
      <h2 class="title">Мы уверены в нашей продукции, поэтому сами используем ее</h2>
    </div>
    <div class="confident-slider__block">
      <div class="confident-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="img/confident.jpg" alt=""></div>
          <div class="swiper-slide"><img src="img/confident.jpg" alt=""></div>
          <div class="swiper-slide"><img src="img/confident.jpg" alt=""></div>
        </div>
        <div class="confident-pagination"></div>
      </div>
    </div>
    <div class="confident-content">
      <p>Одним из первых реализованных проектов Компании «Силагнис» стала котельная собственного завода. </p>
      <p>Проект котельной включал в себя установку трех геотермальных тепловых насосов по 30 кВт тепловой энергии каждый, обустройство 18 скважин по 100 метров глубиной, установку двух баков накопителей тепла и холода соответственно, монтаж системы ГВС на базе тепловых насосов и солнечных коллекторов, обустройство тёплых полов и обвязку всей системы. </p>
      <p>С помощью насосов в здании поддерживается система отопления, горячее водоснабжение,  система кондиционирования  в теплое время года.</p>
    </div>
  </div>
</section>

<section class="confident-numbers">
  <div class="container">
    <div class="row">
      <div class="confident-numbers__item">
        <h2>3</h2>
        <h3>по 30 квт</h3>
        <p>геотермальных тепловых насоса</p>
      </div>
      <div class="confident-numbers__item">
        <h2>1500</h2>
        <h3>по 30 квт</h3>
        <p>геотермальных тепловых насоса</p>
      </div>
      <div class="confident-numbers__item">
        <h2>24</h2>
        <h3>по 30 квт</h3>
        <p>геотермальных тепловых насоса</p>
      </div>
      <div class="confident-numbers__item">
        <h2>36</h2>
        <h3>по 30 квт</h3>
        <p>геотермальных тепловых насоса</p>
      </div>
    </div>
  </div>
</section>

<section class="section sert">
  <div class="container">
    <div class="section-top">
      <h2 class="title">Сертификаты</h2>
    </div>
    <div class="row row-gap">
      <a href="img/sert-1.jpg" data-fancybox="sert"><img src="img/sert-1.jpg" alt=""></a>
      <a href="img/sert-2.jpg" data-fancybox="sert"><img src="img/sert-2.jpg" alt=""></a>
      <a href="img/sert-3.jpg" data-fancybox="sert"><img src="img/sert-3.jpg" alt=""></a>
    </div>
  </div>
</section>

<section class="section partner">
  <div class="container">
    <div class="section-top">
      <h2 class="title">Наши партнеры</h2>
    </div>
    <div class="row"><img src="img/logo.png" alt=""></div>
    <div class="partner-text">Некий Сеошный текст должен быть тут, тихо и незаметно он будет тут существовать и помогать сайту продвигаться к новым вершинам... Некий Сеошный текст должен быть тут, тихо и незаметно он будет тут существовать и помогать сайту продвигаться к новым вершинам...Некий Сеошный текст должен быть тут, тихо и незаметно он будет тут существовать и помогать сайту продвигаться к новым вершинам...</div>
    <div class="btn-wrap"><a href="#" class="btn btn-confetti">Перейти</a></div>
  </div>
</section>

{% endblock %}