{% extends 'common/_layout.html' %}
{% set site_title = 'Текстовая страница' %}

{% block content %}

<section class="head">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="#">Главная</a></li>
      <li><a href="#">Каталог</a></li>
    </ul>
    <h2 class="title">Заголовок</h2>
  </div>
</section>

<section class="pageText">
  <div class="container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, aliquid eveniet maiores voluptatibus inventore quo laudantium soluta placeat odit nulla doloribus, ab laboriosam et perferendis. Voluptate dolorum aut error iste.</p>
    <p>Natus, corporis minus autem hic, sed quo ducimus placeat impedit, fugiat eveniet quis repudiandae alias excepturi? Impedit, expedita reprehenderit optio praesentium quibusdam fugit nemo distinctio id vero reiciendis nulla delectus.</p>
    <p>Facere autem laboriosam iste illo pariatur eius quaerat nihil nisi, sapiente praesentium voluptas ipsum voluptates expedita similique quam perspiciatis exercitationem quos dolor quis amet quas vel a, dolorem quisquam! Magnam?</p>
    <p>Animi, neque laudantium eligendi soluta recusandae voluptatibus rerum, magnam sit accusamus repudiandae mollitia ipsam autem ratione, consequatur quibusdam dolorum a ab excepturi ad magni esse necessitatibus earum. Deserunt, omnis exercitationem!</p>
    <p>Neque, culpa. Amet vel porro dignissimos similique quae autem eius maiores ipsa non corrupti nulla neque, ab beatae impedit sed odit voluptas veniam fuga fugit ea enim distinctio quis culpa.</p>
    <p>Aliquam cupiditate saepe nesciunt veniam, modi mollitia laudantium perspiciatis consequuntur fugit. Dignissimos excepturi itaque in doloremque illum maxime inventore? Vero quis nam ullam, veniam possimus explicabo at enim mollitia debitis?</p>
    <p>Officiis cupiditate quo quod accusamus earum debitis fuga, ratione delectus libero alias dignissimos culpa, magni consequuntur pariatur deleniti sapiente rem at tempora vero voluptatibus. Corrupti consequuntur id quaerat magni est.</p>
    <p>Earum consequatur dicta eos, officia iure asperiores id voluptas animi illo repellat unde consectetur placeat laudantium dolore molestiae recusandae debitis! Odit a nulla quia quam explicabo quaerat sed, accusantium exercitationem?</p>
  </div>
</section>

{% endblock %}